.Adminpanel{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(15, 14, 53);
    justify-content: center;
    display: flex;
    align-items: center;
}
.Adminpanelcontainer{
   width: 100%; 
      max-width: 1000px;
    min-height: 100vh;
background-color: white;
}
.Adminpanelcontainer>h3{
    margin:2vmax;
    display: flex;
justify-content: center;
}
.Adminpanelcontainer>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vmax;
    padding-top: 0;
}
.Adminpanelinput{
    width: 50%;
    padding: 1vmax 2vmax;
    border: 1px solid brown;
    border-radius: 50px;
    outline: none;
    margin: 2vmax;
    box-sizing: border-box;
    font-size: 1rem;
}
.Adminpanelskill{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Adminpanelskill>div{
    display: flex;
    align-items: center;
    margin: 2vmax;
}
.Adminpanelskill>div>p{
    font-size:  2.5rem;
    margin-right: 2vmax;
    color: black;
}
.Adminpanelfileupload::-webkit-file-upload-button{
    width: 100%;
    border-radius: 30px;
    font-size: 1 rem;
    cursor: pointer;
    background-color: rgb(15, 14, 53);
    padding: 1vmax;
    color: white;
}
.Adminpanelabout>fieldset{
display: flex;
flex-direction: column;
align-items: center;
margin: 2vmax 0;
padding-bottom: 3vmax;
border: 2px solid black
}
.Adminpanelabout>fieldset>legend{
    margin: 2vmax;
    font-size: 2rem;
}
.Adminpanelabout{
    width: 100%;
}
.Adminpanelcontainer>form>a{
    background-color: rgb(182, 178, 178);
    padding: 1vmax;
    font-size: 2rem;
    color: rgb(15, 14, 53);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:200px;
    margin: 2vmax;
    transition: all 0.5s;
}
.Adminpanelcontainer>form>a:hover{
    box-shadow: 0 0 10px grey;
    transform: scale(1.1);
}
.Adminpanelcontainer>form>button{
    width: 100%;
    padding: 1vmax;
    margin: 1vmax;
    font-size: 1.2rem;
}
.Adminpanelcontainer>form>button:hover{
    background-color: rgb(15, 14, 53);
}
