.contact{
    width: 100%;
    height: 100vh;
    background-color: rgb(15, 14, 53);
}
.contactrightbar{
    background-image: linear-gradient(to bottom,rgb(79, 79, 237),white);
    width:30%;
    height: inherit;
    position: absolute;
    right: 0;
    transform: translateY(-100%);
    animation: contactrightbartransit 1s linear forwards;
}
.contactcontainer{
    height: 80%;
    width: 70%;
    background-color: white;
    position: absolute;
    border-radius: 100px 0 0 100px;
    top: 50%;
    transform: translateX(20%) translateY(-50%);
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px grey;
    animation: contactatransit 1s linear forwards;
}.contactcontainerform{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contactcontainerform>h3{
    text-align: center;
    margin: 1vmax;
}
.contactcontainerform>input,
.contactcontainerform>textarea{
    padding: 1vmax;
    border-radius: 30px;
    outline: none;
    font-size: 1rem;
    border: 1px solid  rgb(15, 14, 53);
    transform: translateX(-100vw);
    animation: inputransit 1s linear forwards;
}
.contactcontainerform>button{
    background-color: rgb(79, 79, 237);
    transform: translateY(-100vh);
    animation: btntransit 1s linear forwards;
}
.contactcontainerform>button:hover{
    background-color:  rgb(15, 14, 53);
}
@keyframes  contactatransit {
    from{
        transform: translateX(-100%) translateY(-50%);
    }
    to{
        transform: translateX(20%) translateY(-50%);
    }
}
@keyframes contactrightbartransit {
    to{
        transform: translateY(0);
    }
}
@keyframes btntransit {
    to{
      transform: translateY(0);
    }
}
@keyframes  inputransit {
    to{
        transform: translateX(0vw);
    }
}